
.App {
  color: white;
}

.App-header {
  background-color: #049fd9;
  display: block;
  padding: 1vmin;
  
}
.App-header-text {
  display: inline-block;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-logo {
  display: inline-block;
  vertical-align: middle ;
  height: 4vmin;
  pointer-events: none;
  padding: 0 2vmin;
}

.App-side-bar {
  display: inline-block;
  vertical-align: middle ;
  height: 3vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-data {
  color: #000000;
}

